{% extends 'base.html' %}
{% load static %}
{% block content %}

<div id="about">
    <div class="container">
        <div class="section-title text-center center">
            <h2>Our Story</h2>
            <hr>
        </div>
        <div class="row">
            <!-- <div class="col-xs-12 col-md-6 text-center"><img src="{% static 'img/about.jpg' %}"
                                                             class="img-responsive"
                                                             alt=""></div> -->
            <div class="col-xs-12 col-md-6">
                <div class="about-text">
                    <h3>The company Overview</h3>
                    <p>Founded in 1978 by Shamsuddin Umar Gouri, our company brings over 46 years of experience in the interior design industry. Under the current leadership of Salman Shamsuddin Umar Gouri, we continue to deliver timeless and innovative design solutions, blending tradition with modern elegance to create spaces that truly reflect our clients' unique tastes and needs.

                    </p>
                    <h3>How We Work</h3>
                    <p>Our process begins with understanding your vision and transforming it into a thoughtful design. With expert craftsmanship and attention to detail, we bring your dream space to life..</p>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}