<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    {% include 'head.html' %}
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    {% include 'navbar.html' %}

    <!-- Display Messages -->
    {% if messages %}
        <div class="container mt-3">
            <div class="messages">
                {% for message in messages %}
                    <div class="alert {% if message.tags %}alert-{{ message.tags }}{% else %}alert-info{% endif %}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}

    {% block content %}

    {% endblock content %}

    {% include 'footer.html' %}
    {% include 'scripts.html' %}
</body>
</html>
